<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxf.gsjlpt.mapper.SysUserMapper">
  <resultMap id="BaseResultMap2" type="com.zxf.gsjlpt.model.SysUser2">
   <!-- &lt;!&ndash;
      WARNING - @mbg.generated
    &ndash;&gt;-->
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="locked" jdbcType="BIT" property="locked" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <association property="sysRoles" javaType="com.zxf.gsjlpt.model.SysRoles">
          <id column="rid" jdbcType="INTEGER" property="id" />
          <result column="role" jdbcType="VARCHAR" property="role" />
          <result column="description" jdbcType="VARCHAR" property="description" />
          <result column="available" jdbcType="BIT" property="available" />
          <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
          <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      </association>
      <collection property="sysPermissions" ofType="com.zxf.gsjlpt.model.SysPermissions">
          <id column="id" jdbcType="INTEGER" property="id" />
          <result column="permission" jdbcType="VARCHAR" property="permission" />
          <result column="description" jdbcType="VARCHAR" property="description" />
          <result column="available" jdbcType="BIT" property="available" />
          <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
          <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      </collection>
  </resultMap>
    <resultMap id="BaseResultMap" type="com.zxf.gsjlpt.model.SysUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uid" jdbcType="VARCHAR" property="uid" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="dept" jdbcType="VARCHAR" property="dept" />
        <result column="realname" jdbcType="VARCHAR" property="realname" />
        <result column="role" jdbcType="VARCHAR" property="role" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
        <result column="locked" jdbcType="BIT" property="locked" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="DtoMap" type="com.zxf.gsjlpt.dto.UserDto">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    </resultMap>
    <resultMap id="sysPermissions" type="com.zxf.gsjlpt.model.SysPermissions">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="permission" jdbcType="VARCHAR" property="permission" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="available" jdbcType="BIT" property="available" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    uid, username, password, dept, realname, role, salt, locked, create_time, update_time
  </sql>
    <sql id="Dto_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        uid, username,  dept, realname, role
    </sql>
  <sql id="base_select2">
    SELECT u.*,r.id AS rid, r.available AS available,r.create_time AS create_time, r.description AS description, r.role AS role, r.update_time AS update_time, p.*
    FROM sys_user u, sys_roles r,sys_permissions p, sys_users_roles ur, sys_roles_permissions rp
    WHERE u.uid = ur.user_id AND ur.role_id = r.id AND r.id = rp.role_id AND rp.permission_id = p.id
  </sql>
    <sql id="base_select">
        SELECT *
        FROM sys_user
    </sql>
  <select id="selectByNameAndPwd" resultMap="BaseResultMap2">
      <include refid="base_select2"></include>
      <!--<where>-->
          <if test="username !=null and password !=null">
              AND u.username = #{username}
              AND u.password = #{password}
          </if>
      <!--</where>-->
  </select>

    <select id="findAll" resultMap="DtoMap">
        SELECT <include refid="Dto_Column_List"></include>
        FROM sys_user
    </select>

    <select id="findByUsername" parameterType ="java.lang.String" resultMap="BaseResultMap">
        <include refid="base_select"></include>
        WHERE
        <choose>
            <when test="_parameter!= null">
                username = #{username}
            </when>
        </choose>
    </select>

    <delete id="batchesDelete" parameterType="java.util.List">
        DELETE
        FROM sys_user
        WHERE uid IN
        <foreach collection="list" item="item" open="(" separator="," close=")" index="index">
        #{item}
        </foreach>
    </delete>

    <select id="findRole" resultType="com.zxf.gsjlpt.model.SysRoles">
        SELECT r.id AS id, r.role AS role, r.description AS description, r.available AS available,
                r.create_time AS createTime, r.update_time AS updateTime
        FROM sys_user u, sys_roles r, sys_users_roles ur
        WHERE u.uid = ur.user_id AND ur.role_id = r.id AND u.username = #{username}
    </select>

    <select id="getPermission" resultMap="sysPermissions">
        SELECT p.*
        FROM sys_user u, sys_roles r,sys_permissions p, sys_users_roles ur, sys_roles_permissions rp
        WHERE u.uid = ur.user_id AND ur.role_id = r.id AND r.id = rp.role_id AND rp.permission_id = p.id AND u.username = #{username}
    </select>

    <select id="findByUsernameLike" resultMap="BaseResultMap">
        <bind name="username" value="'%'+_parameter+'%'"></bind>
        SELECT *
        FROM sys_user
        <where>
            <if test="_parameter!= null">
                username LIKE #{username}
            </if>
        </where>
    </select>
    
    <insert id="batchesAddUser">
        INSERT INTO sys_user
        VALUES
        <foreach collection="sysUsers" item="user"  index="index"  separator=",">
            (#{user.uid},#{user.username},#{user.password},#{user.dept},#{user.realname},#{user.role},#{user.salt},#{user.locked},#{user.createTime},#{user.updateTime})
        </foreach>
    </insert>
</mapper>